:root {
  --brand-color: #2196f3;
  --brand-color-secondary: #000000;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --background-color: #2f303a;
  --our-team-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-main);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Header */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo-part {
  color: var(--brand-color-secondary);
}

.nav-link.current {
  color: var(--brand-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color-main);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--brand-color);
}

/* Footer */

.footer-section {
  background-color: var(--background-color);
}

.footer-section .logo-part {
  color: #ffffff;
}

.adress-list {
  font-style: normal;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--brand-color);
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--brand-color);
}

/* сторінка Студія */

.hero-section {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--brand-color);
  border-radius: 4px;
}

.features-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.features h2 {
  /* display: none; */
}

.features-paragraph {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.what-we-do-section-title,
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.team-section-header {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.team-section p {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.team-section {
  background-color: var(--our-team-background-color);
}

/* сторінка Портфоліо */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  background-color: var(--our-team-background-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--brand-color);
}

.portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-main);
}

.portfolio-paragraphe {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}
